<div class="jumbotron">
  <h1>Hello!</h1>
  <p class="lead">
    Here is what we do
  </p>

</div>

<div class="row marketing">
  <h4>Dynamic Web Sites</h4>
  <p>
    Using HTML5 we can create gorgeous web sites to be the face of your company or idea!
  </p>

  <h4>Web Applications</h4>
  <p>
    We specialize in creating applications that you can incorporate into your website for special functionality and operations!
  </p>

  <h4>Mobile Applications</h4>
  <p>Want a companion smart phone app for your website? We also create Android and iOS apps!</p>
</div>
